<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989450049888-utljtdbo475iskc3ho0us7gie7glh1af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989450049888-utljtdbo475iskc3ho0us7gie7glh1af</string>
	<key>API_KEY</key>
	<string>AIzaSyCL18K6Oc_qOAGXcLp4ZWsPqDtdzvGmPhs</string>
	<key>GCM_SENDER_ID</key>
	<string>989450049888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sixthApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-5e6c8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-5e6c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989450049888:ios:381f5668553dc841cc2605</string>
</dict>
</plist>